/* Admin Component Styles */

:host ::ng-deep {
  .p-card {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .p-card-header {
    padding-bottom: 0;
  }

  .p-card-body {
    padding-top: 1rem;
  }

  .p-card-footer {
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;
  }

  .p-tag {
    font-size: 0.75rem;
  }

  .p-datatable .p-datatable-thead > tr > th {
    background-color: #f9fafb;
    color: #374151;
    font-weight: 600;
  }

  .p-dialog .p-dialog-header {
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
  }

  .p-dialog .p-dialog-content {
    padding: 1.5rem;
  }

  .p-checkbox {
    width: 1.25rem;
    height: 1.25rem;
  }

  .p-checkbox .p-checkbox-box {
    width: 1.25rem;
    height: 1.25rem;
  }
}
